<%- include('./partials/header'); -%>

    <main>
        <div class="d-flex justify-content-between py-4 my-4"></div>
        <div class="ui segment table-responsive">
            <table class="table" id="example">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Total Links</th>
                    <th scope="col">Total Words</th>
                  </tr>
                </thead>
                <tbody>
                <% let i=1; for(let domain of domains){ %>    
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td><a href="/domain/<%= domain.id %>"><%= domain.domain %></a></td>
                    <td><%= domain.domainLinks.length %></td>
                    <td><%= domain.word_count %></td>
                  </tr>
                <% i++; } %>  
                </tbody>
              </table>
        </div>
    </main>
<%- include('./partials/footer'); %>

